html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    background-color: #0D0208;
    color: #00FF41;
    font-family: monospace;
}

.container-fluid {
    height: 100%;
}

.infor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

